# Задание 1

Даны значения величины заработной платы заемщиков банка (zp) и значения их поведенческого кредитного скоринга (ks):
zp = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110],
ks = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832].
Найдите ковариацию этих двух величин с помощью элементарных действий, а затем с помощью функции cov из numpy
Полученные значения должны быть равны.
Найдите коэффициент корреляции Пирсона с помощью ковариации и среднеквадратичных отклонений двух признаков,
а затем с использованием функций из библиотек numpy и pandas.

находим кавариацию по следующей формуле: 
$$cov_{XY} =\overline{X \cdot Y} - \overline{X} \cdot \overline{Y}$$

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
zp = np.array ([35, 45, 190, 200, 40, 70, 54, 150, 120, 110])
ks = np.array ([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])

In [ ]:
covXY = (zp*ks).mean()-zp.mean()*ks.mean()
covXY

9157.839999999997

с помощью функции cov из numpy

In [ ]:
covXY = np.cov(zp,ks, ddof=0)[0,1]
covXY

9157.84

коэффициент корреляции Пирсона с помощью ковариации и среднеквадратичных отклонений двух признаков находим по формуле $$r_{XY} = \frac{cov_{XY}}{\sigma_{X}\sigma_{Y}}$$

In [ ]:
rXY = covXY/(zp.std()*ks.std())
rXY

0.8874900920739162

коэффициент корреляции Пирсона с помощью функций из библиотек numpy и pandas

In [ ]:
df = pd.DataFrame({'zp': zp, 'ks': ks}, columns=['zp', 'ks'])
df

    zp   ks
0   35  401
1   45  574
2  190  874
3  200  919
4   40  459
5   70  739
6   54  653
7  150  902
8  120  746
9  110  832

In [ ]:
df.corr()

         zp       ks
zp  1.00000  0.88749
ks  0.88749  1.00000

# Задание 2

Измерены значения IQ выборки студентов,
обучающихся в местных технических вузах:
131, 125, 115, 122, 131, 115, 107, 99, 125, 111.
Известно, что в генеральной совокупности IQ распределен нормально.
Найдите доверительный интервал для математического ожидания с надежностью 0.95.

In [ ]:
alpha = 0.05
IQ = np.array([131, 125, 115, 122, 131, 115, 107, 99, 125, 111])
n = 10

доверительный интервал для математического ожидания находим по формуле $$ \overline{X} \: \frac{+}{-} \: t_{{\alpha/2}}\:* \frac{Std}{
\sqrt{n}}$$

In [ ]:
mX = IQ.mean()
mX

118.1

In [ ]:
polalpha = alpha/2
polalpha

0.025

In [ ]:
df = n-1

In [ ]:
t = 2.262

In [ ]:
Xm = mX - (t * (IQ.std(ddof=1))/np.sqrt(n))
Xm

110.55660776308164

In [ ]:
Xp = mX + (t * (IQ.std(ddof=1))/np.sqrt(n))
Xp

125.64339223691834

In [ ]:
print ('Доверительный интервал для математического ожидания с надежностью 0.95 равен', [round(Xm,2),round(Xp,2)])

Доверительный интервал для математического ожидания с надежностью 0.95 равен [110.56, 125.64]

# Задание 3

Известно, что рост футболистов в сборной распределен нормально
с дисперсией генеральной совокупности, равной 25 кв.см. Объем выборки равен 27,
среднее выборочное составляет 174.2. Найдите доверительный интервал для математического ожидания с альфа =0,95

In [ ]:
n = 27
std = 5
mX = 174.2
alpha = 0.05

In [ ]:
polalpha = alpha/2
polalpha

0.025

In [ ]:
z = 1.96

In [ ]:
Xm = mX - (z * (std/np.sqrt(n)))
Xm

172.31398912064722

In [ ]:
Xp = mX + (z * (std/np.sqrt(n)))
Xp

176.08601087935276

In [ ]:
print ('Доверительный интервал для математического ожидания c альфа =0,95 равен', [round(Xm,2),round(Xp,2)])

Доверительный интервал для математического ожидания c альфа =0,95 равен [172.31, 176.09]